<html>
<head>
    <title>Fruits</title>    
</head>
<body>
    <ul>
        <% for(let i = 0; i < fruitsList.length ; i++) { %>
        <li>
            <%= fruitsList[i] %>
        </li>
        <% } %>
    </ul>
</body>
</html>